<div class="loginForm">
    <p ng-show="lc.failed">Neuspešno logovanje!</p>
    <form class="form" ng-show="lc.showLogin" ng-submit="lc.login()">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="lc.user.username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" ng-model="lc.user.password">
        </div>
        <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Login">
        </div>
    </form>
</div>